/* index.css */

/* Estilo existente */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.row{
  margin: 0;
}

.container{
  padding: 70px 0;
}

.content {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  overflow: hidden; /* Para conter as floats */
  background-color: white; /* Fundo branco para se destacar */
  border-radius: 5px; /* Cantos arredondados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.topic-box {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  height: 300px;
  float: left;
  margin-right: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o conteúdo uniformemente */
}

.topic-box:nth-child(2n) {
  margin-right: 0;
}

.topic-box h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.topic-box p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: auto; /* Garante que o parágrafo tenha espaço abaixo */
}

.topic-box a {
  display: inline-block;
  background-color: #2f9e41;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Evita que o link se estenda pelo contêiner */
}

.topic-box a:hover {
  background-color: #247d35;
}


.member-list {
  list-style-type: none; /* Remove marcadores de lista para os links dentro da member-list */
}

/* Barra de Navegação*/

header, .navbar {
  background-color: #2f9e41;
  padding: 20px;
  text-align: center;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#navbar-links a {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/*navbar fim*/

header img {
  width: 100px;
  height: auto;
}

header div {
  color: #fff;
  font-size: 18px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f9e41;
  z-index: 1000; 
}


nav ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .topic-box {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  header img {
    width: 80px;
  }

  header div {
    font-size: 16px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

/* Novos estilos para as listas de exercícios */
.materials {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.materials-title {
  text-align: center;
  color: #2f9e41;
  font-size: 24px;
  margin-bottom: 10px;
}

.materials-description {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
}

.toggle-button {
  display: block;
  background-color: #2f9e41;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto 20px auto;
  text-align: center;
}

.toggle-button:hover {
  background-color: #247d35;
}

.materials-list {
  list-style: none;
  padding: 0;
  display: none; /* Inicialmente oculto */
}

.materials-list li {
  margin-bottom: 10px;
}

.materials-list li a {
  display: inline-block;
  color: #2f9e41;
  text-decoration: none;
  border: 2px solid #2f9e41;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.materials-list li a:hover {
  background-color: #2f9e41;
  color: #fff;
}

/* Card para o projeto ENEM*/

.card {
  max-width: 400px;
  margin: auto;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
  height: auto;
  width: 100%;
  transition: opacity 0.3s;
}

.card:hover .card-img {
  opacity: 0.5;
}

.card-text, .card-title {
  transition: color 0.3s, background-color 0.3s;
}



.card-img-overlay {
  background-color: rgba(157, 154, 154, 0.111);
  position: relative;
}


/* Esconder o texto inicialmente */
.card-text, .card-title {
  opacity: 0;
 
}

/* Mostrar o texto quando o card é hover */
.card:hover .card-text, .card:hover .card-title {
  opacity: 1;
}
#signup-btn {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.card:hover #signup-btn {
  display: block;
}
/* Teste footer */
footer {
  background-color: #2f9e41;
  padding: 20px;
  text-align: center;
  color: #fff;
  clear: both; /* Para limpar floats */
}

footer .footer-content {
  max-width: 800px;
  margin: 0 auto;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: black;
}

.icon {
  width: 60px;
  height: 60px;
  border: none;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.2s;
  margin-right: 10px; /* Espaço entre os ícones */
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.instagram-icon .instagram {
  fill: #cc39a4;
}

.instagram-icon:hover {
  background-color: #cc39a4;
}

.instagram-icon:hover .instagram {
  fill: white;
}

.gmail-icon .gmail {
  fill: #f14336;
}

.gmail-icon:hover {
  background-color: #FF0004;
}

.gmail-icon:hover .gmail {
  fill: white;
}

.twitter-icon .twitter {
  fill: black;
}

.twitter-icon:hover {
  background-color: black;
}

.twitter-icon:hover .twitter {
  fill: white;
}

/*info_enem*/

#info_enem {
  background-color: rgba(231, 223, 223, 0.773);
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}